/*

--- 01 TYPOGRAPHY SYSTEM

- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- FONT WEIGHTS
Default: 400

- LINE HEIGHTS
Default: 1 

--- 02 COLORS

- Primary:#232529

- Tints:
- Shades:
- Accents: 
- Greys: #555

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px */
    /* 10px / 16 = 0.626 = 62.5% */
    /*  Percentage of user's browser font-size settings */
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
    background-color: #232529;
}

/********************************************/
/* GENERAL REUSABLE COMPONENTS */
/********************************************/

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.subheading {
    font-size: 4.4rem;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.5px;
}

.btn:link,
.btn:visited {
    background-color: #00bcfe;
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem 4rem;
    color: #fff;
    /* Trick to add border in side */
    /* box-shadow: inset 0 0 0 3px #fff; */
}

/********************************************/
/* HEADER */
/********************************************/
.header {
    background-color: #252931;
    height: 9.6rem;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Because we want header to be sticky, that's why height is fixed */
    height: 9.6rem;
    padding: 0 16rem;
}

.logo {
    height: 3.2rem;
}

.nav-box {
    display: flex;
    gap: 9.6rem;
}

.main-nav-list,
.language-nav-list {
    list-style: none;
    display: flex;
    gap: 2.2rem;
}

.main-nav-link:link,
.main-nav-link:visited,
.language-nav-link:link,
.language-nav-link:visited {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.main-nav-link:hover,
.main-nav-link:active,
.language-nav-link:hover,
.language-nav-link:active {
    border-bottom: 3px solid #2cc1db;
    padding-bottom: 3.8rem;
}

/********************************************/
/* HERO SECTION */
/********************************************/

.section-hero {
    position: relative;
    height: 88vh;
    background-image: url(../css/img/hero.png);
    background-size: cover;
    background-position: top;
}

.hero-box {
    display: flex;
    flex-direction: column;
    padding: 32rem 0 0 34rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 2.6rem;
    margin: 3.2rem 0;
    color: #fff;
}

.btn-tell-me {
    align-self: flex-start;
}

.decoration-background {
    position: absolute;
    width: 100%;
    height: 99.5rem;
    background-image: url(../img/astro-astrology-2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    top:51rem;
}


/********************************************/
/* SERVICES SECTION */
/********************************************/
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.services-part-one {
    max-width: 114rem;
}

.services-subheading {
    margin: 7.4rem 0 2.4rem 0;
    text-align: center;
}

.services-description {
    font-size: 2rem;
    line-height: 2.6rem;
    margin-bottom: 9.6rem;
    color: #fff;
    text-align: center;
}

.services-table {
    display: flex;
    flex-wrap: wrap;
}

.services-table--col5>.services-table-cell {
    width: 20%;
}

.services-table-cell {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    border-right: solid 1px #393b3f;
    padding: 0 3.2rem;
}

.services-table-cell:nth-child(-1n+5) {
    border-bottom: solid 1px #393b3f;
    padding-bottom: 2.4rem;
}

.services-table-cell:nth-child(1n+6) {
    border-right: solid 1px #393b3f;
    padding-top: 2.4rem;
    padding-bottom: 1.4rem;
}

.services-table-cell:nth-child(5n+0) {
    border-right: none;
}

.sport {
    text-align: center;
}

.sport-img {
    padding-bottom: 2.4rem;
    height: 7.5rem;
}

.sport-title {
    font-size: 2rem;
    color: #fff;
    text-align: center;
}

.services-part-two {
    display: flex;
    justify-content: center;
    background-image:url(../img/astro-astrology.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 33rem;
}

.services-part-two-box {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 160rem;
}

.services-articles-subheading {
    align-self: flex-start;
    margin-bottom: 4.8rem;
}

.services-articles-box {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    gap: 5rem;
    margin-top: 4.8rem;
}

.services-articles-box--col4>.services-article-box {
    width: calc(25% - 5rem);
}

.services-article-box {
    background-color: #232529;
    padding: 3.2rem;
}

.services-article--mainText {
    font-size: 1.8rem;
    line-height: 2.6rem;
    color: #fff;
    padding-bottom: 1.6rem;
}

.services-article--subtext {
    font-size: 1.4rem;
    line-height: 2.4rem;
    font-weight: 100;
    color: #fcfefe;
}


.btn-all-services {
    align-self: center;
    text-decoration: none;
    font-size: 2rem;
    padding: 2rem 6.2rem;
    margin-top: 4.8rem;
    color: #fff;
    /* Trick to add border in side */
    box-shadow: inset 0 0 0 1px #fff;
}